footer{
    grid-area: footer ;
  
    background: #2e5ea5;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }