.filter-wrapper {
  background: white;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}
.filter-wrapper .filter-title {
  background-color: #2a5ea5;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
}
.filter-wrapper > div {
  padding: 5px 20px;
  margin-bottom: 13px;
}
.filter-wrapper select {
  display: block;
  height: 40px;
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 5px;
}